<nav *ngIf="AuthService.GetCurrentUser()" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Master</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/laboratory']">Laboratory</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/laboratoryemployee']">Laboratory
                            Employee</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/producttype']">Product Type</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/doctor']">Doctor</a>
                    </li>

                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/processmaster']">Process Master</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-Doctor" aria-expanded="false"
                aria-controls="ui-Doctor">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Doctor</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-Doctor">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/doctor']">Doctor</a>
                    </li>

                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/LabMap']">Lab Map</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ProcessMapper']">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Process Mapper</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/SubProcess']">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Sub Process</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/SubProcessEmployee']">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Sub Process Employee</span>
            </a>
        </li>

    </ul>
</nav>
<!-- Extra Code  -->