
LabGuru/.vs/
LabGuru/LabGuru.BAL/bin/
LabGuru/LabGuru.BAL/obj/
LabGuru/LabGuru.DAL/bin/
LabGuru/LabGuru.DAL/obj/
LabGuru/LabGuru.WebAPI/bin/
LabGuru/LabGuru.WebAPI/obj/
LabGuru/LabGuru.WebAPI/Properties/