<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Lab Map</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-danger" *ngIf="response && !response.isSuccess" role="alert">
                    {{response.message}}
                </div>
                <div class="alert alert-success" *ngIf="response && response.isSuccess" role="alert">
                    {{response.message}}
                </div>
                <form autocomplete="off" class=" needs-validation" [formGroup]="AppForms" novalidate
                    (ngSubmit)="SubmitForm()">
                    <div class="form-group">
                        <label>Doctor <em class="text-danger ml-2"
                                *ngIf="(!(this.DoctorID.valid || this.DoctorID.untouched) || mouseover_form) && DoctorID?.errors?.['required']">Required</em></label>

                        <select class="form-control" formControlName="DoctorID">
                            <option value="">Select Doctor</option>
                            <option *ngFor="let dl of DoctorList" value="{{dl.doctorDetailsID}}">{{dl.firstName}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Laboratory
                            <em class="text-danger ml-2"
                                *ngIf="(!(this.LabID.valid || this.LabID.untouched) || mouseover_form) && LabID?.errors?.['required']">Required</em>
                        </label>
                        <select class="form-control" formControlName="LabID">
                            <option value="">Select Laboratory</option>
                            <option *ngFor="let lab of LabList" value="{{lab.id}}">{{lab.labName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span (mouseenter)="mouseover_form=true" (mouseleave)="mouseover_form=false">
                            <button type="submit" class="btn btn-success" [disabled]="AppForms.invalid">Save
                                Detail</button>
                        </span>
                    </div>


                </form>
            </div>
        </div>

    </div>
    <div class="col-md-8">
    </div>
</div>